@charset "UTF-8";
@font-face {
	font-family: ubuntu-light;
	font-display: swap;
	src: url(../fonts/ubuntulight.woff2)
}

@font-face {
	font-family: ubuntu-medium;
	font-display: swap;
	src: url(../fonts/ubuntumedium.woff2)
}

@font-face {
	font-family: ubuntu-bold;
	font-display: swap;
	src: url(../fonts/ubuntubold.woff2)
}

@font-face {
	font-family: opensans-bold;
	font-display: swap;
	src: url(../fonts/opensansbold.woff2)
}

@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url(../fonts/Roboto.ttf)
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/roboto-v27-latin-300.eot);
	src: local(""), url(../fonts/roboto-v27-latin-300.eot?#iefix) format("embedded-opentype"), url(../fonts/roboto-v27-latin-300.woff2) format("woff2"), url(../fonts/roboto-v27-latin-300.woff) format("woff"), url(../fonts/roboto-v27-latin-300.ttf) format("truetype"), url(../fonts/roboto-v27-latin-300.svg#Roboto) format("svg")
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/roboto-v27-latin-regular.eot);
	src: local(""), url(../fonts/roboto-v27-latin-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/roboto-v27-latin-regular.woff2) format("woff2"), url(../fonts/roboto-v27-latin-regular.woff) format("woff"), url(../fonts/roboto-v27-latin-regular.ttf) format("truetype"), url(../fonts/roboto-v27-latin-regular.svg#Roboto) format("svg")
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	src: url(../fonts/roboto-v27-latin-500.eot);
	src: local(""), url(../fonts/roboto-v27-latin-500.eot?#iefix) format("embedded-opentype"), url(../fonts/roboto-v27-latin-500.woff2) format("woff2"), url(../fonts/roboto-v27-latin-500.woff) format("woff"), url(../fonts/roboto-v27-latin-500.ttf) format("truetype"), url(../fonts/roboto-v27-latin-500.svg#Roboto) format("svg")
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/roboto-v27-latin-700.eot);
	src: local(""), url(../fonts/roboto-v27-latin-700.eot?#iefix) format("embedded-opentype"), url(../fonts/roboto-v27-latin-700.woff2) format("woff2"), url(../fonts/roboto-v27-latin-700.woff) format("woff"), url(../fonts/roboto-v27-latin-700.ttf) format("truetype"), url(../fonts/roboto-v27-latin-700.svg#Roboto) format("svg")
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	src: url(../fonts/roboto-v27-latin-900.eot);
	src: local(""), url(../fonts/roboto-v27-latin-900.eot?#iefix) format("embedded-opentype"), url(../fonts/roboto-v27-latin-900.woff2) format("woff2"), url(../fonts/roboto-v27-latin-900.woff) format("woff"), url(../fonts/roboto-v27-latin-900.ttf) format("truetype"), url(../fonts/roboto-v27-latin-900.svg#Roboto) format("svg")
}

@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-300.eot);
	src: local(""), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-300.eot?#iefix) format("embedded-opentype"), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-300.woff2) format("woff2"), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-300.woff) format("woff"), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-300.ttf) format("truetype"), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-300.svg#Ubuntu) format("svg")
}

@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot);
	src: local(""), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2) format("woff2"), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff) format("woff"), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf) format("truetype"), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Ubuntu) format("svg")
}

@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	src: url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-500.eot);
	src: local(""), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-500.eot?#iefix) format("embedded-opentype"), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-500.woff2) format("woff2"), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-500.woff) format("woff"), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-500.ttf) format("truetype"), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-500.svg#Ubuntu) format("svg")
}

@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.eot);
	src: local(""), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix) format("embedded-opentype"), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2) format("woff2"), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.woff) format("woff"), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf) format("truetype"), url(../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.svg#Ubuntu) format("svg")
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-300.eot);
	src: local(""), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-300.eot?#iefix) format("embedded-opentype"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-300.woff2) format("woff2"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-300.woff) format("woff"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-300.ttf) format("truetype"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-300.svg#OpenSans) format("svg")
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot);
	src: local(""), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2) format("woff2"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff) format("woff"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf) format("truetype"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#OpenSans) format("svg")
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-600.eot);
	src: local(""), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-600.eot?#iefix) format("embedded-opentype"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-600.woff2) format("woff2"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-600.woff) format("woff"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-600.ttf) format("truetype"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-600.svg#OpenSans) format("svg")
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-700.eot);
	src: local(""), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix) format("embedded-opentype"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2) format("woff2"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-700.woff) format("woff"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf) format("truetype"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-700.svg#OpenSans) format("svg")
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-800.eot);
	src: local(""), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-800.eot?#iefix) format("embedded-opentype"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-800.woff2) format("woff2"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-800.woff) format("woff"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-800.ttf) format("truetype"), url(../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-800.svg#OpenSans) format("svg")
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	-webkit-tap-highlight-color: transparent;
	-webkit-focus-ring-color: transparent
}

button,
input[type=button] {
	border: none;
	background: 0 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none
}

a {
	text-decoration: none
}

input {
	border: none;
	background: 0 0
}

b.rub {
	font-family: Roboto
}

.hidden {
	display: none!important
}

body.disable {
	overflow: hidden!important
}

body {
	margin: 0;
	font-family: Ubuntu
}

.mobile-tab {
	padding: 20px;
	padding-left: 20px;
	padding-bottom: 15px;
	background: #d8dbe8;
	font-family: ubuntu-medium;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 99;
	display: none
}

.mobile-tab span {
	color: #1254b5
}

@media screen and (max-width:992px) {
	.mobile-tab {
		display: block
	}
}

.progress-bar {
	position: fixed;
	left: 20px;
	top: 148px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s
}

.progress-bar.active {
	visibility: visible;
	opacity: 1;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s
}

.progress-bar__line {
	background: #9fb2b1;
	width: 2px;
	position: relative;
	margin-right: 20px
}

.progress-bar__line span {
	position: absolute;
	background: #1254b5;
	width: 2px;
	top: 0;
	-webkit-transition: top .4s;
	-o-transition: top .4s;
	transition: top .4s
}

.progress-bar__line.active span {
	-webkit-transition: top .4s;
	-o-transition: top .4s;
	transition: top .4s
}

.progress-bar__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.progress-bar__list a {
	font-family: ubuntu-light;
	font-size: 12px;
	line-height: 15px;
	color: #9fb2b1;
	margin-bottom: 35px;
	margin-top: 35px
}

.progress-bar__list a.active {
	color: #1254b5
}

@media screen and (max-width:1300px) {
	.progress-bar {
		display: none
	}
}

.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	font-family: ubuntu-medium;
	font-size: 12px;
	color: #f8f8f8;
	line-height: 15px;
	position: absolute;
	bottom: 30px;
	left: 20px
}

.breadcrumbs a {
	font-family: ubuntu-light;
	font-size: 12px;
	line-height: 15px;
	color: #f8f8f8;
	margin-right: 30px;
	position: relative
}

.breadcrumbs a:hover {
	text-decoration: underline
}

.breadcrumbs a::after {
	content: '';
	display: block;
	width: 15px;
	height: 5px;
	position: absolute;
	right: -21px;
	top: 50%;
	margin-top: -2.5px;
	background: url(../img/breadcrumb-arrow.svg) no-repeat center center
}

@media screen and (max-width:992px) {
	.breadcrumbs a,
	.breadcrumbs span {
		display: none;
		margin-right: 0
	}
	.breadcrumbs a:nth-last-child(-n+2) {
		display: block;
		padding-left: 25px
	}
	.breadcrumbs a:nth-last-child(-n+2)::after {
		left: 0;
		-webkit-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		transform: rotate(-180deg)
	}
}

.swiper {
	margin: 0 auto;
	width: 1100px;
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px
}

@media (max-width:1140px) {
	.swiper {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:768px) {
	.swiper {
		padding-left: 20px;
		padding-right: 20px
	}
}

.swiper__content {
	padding-bottom: 50px
}

.swiper__content__grey {
	background-color: #f8f8f8;
	padding-top: 50px
}

.swiper-button-next,
.swiper-button-prev {
	color: #9fb2b1;
	float: left;
	position: relative
}

.swiper-button-next {
	right: -30px
}

@media (max-width:768px) {
	.swiper-button-next {
		right: 5px
	}
}

.swiper-button-prev {
	left: -30px
}

@media (max-width:768px) {
	.swiper-button-prev {
		left: 5px
	}
}

.swiper-button-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	top: 140px;
	position: relative
}

.swiper-wrapper {
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline
}

.swiper-slide {
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.swiper-slide__color_image {
	width: 200px;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover
}

.swiper__content__title {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 125%;
	text-transform: uppercase;
	margin: 80px 0 60px 0;
	margin: 0 auto;
	width: 1100px
}

@media (max-width:768px) {
	.swiper__content__title {
		font-size: 28px;
		line-height: 28px;
		margin: 50px 0 30px 0
	}
}

@media (max-width:425px) {
	.swiper__content__title {
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 15px;
		line-height: 20px
	}
}

@media (max-width:1140px) {
	.swiper__content__title {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:768px) {
	.swiper__content__title {
		padding-left: 20px;
		padding-right: 20px
	}
}

.swiper_2 {
	margin: 0 auto;
	width: 1100px;
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px
}

@media (max-width:1140px) {
	.swiper_2 {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:768px) {
	.swiper_2 {
		padding-left: 20px;
		padding-right: 20px
	}
}

.swiper_2__content {
	padding-bottom: 50px
}

.swiper_2__content__grey {
	background-color: #f8f8f8;
	padding-top: 50px
}

.swiper_2-button-next,
.swiper_2-button-prev {
	color: #9fb2b1;
	float: left;
	position: relative
}

.swiper_2-button-next {
	right: -30px
}

@media (max-width:768px) {
	.swiper_2-button-next {
		right: 5px
	}
}

.swiper_2-button-prev {
	left: -30px
}

@media (max-width:768px) {
	.swiper_2-button-prev {
		left: 5px
	}
}

.swiper_2-button-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	top: 140px;
	position: relative
}

.swiper_2-wrapper {
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline
}

.swiper_2-slide {
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.swiper_2-slide__color_image {
	width: 200px;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover
}

.swiper_2__content__title {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 125%;
	text-transform: uppercase;
	margin: 80px 0 60px 0;
	margin: 0 auto;
	width: 1100px
}

@media (max-width:768px) {
	.swiper_2__content__title {
		font-size: 28px;
		line-height: 28px;
		margin: 50px 0 30px 0
	}
}

@media (max-width:425px) {
	.swiper_2__content__title {
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 15px;
		line-height: 20px
	}
}

@media (max-width:1140px) {
	.swiper_2__content__title {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:768px) {
	.swiper_2__content__title {
		padding-left: 20px;
		padding-right: 20px
	}
}

.chief {
	width: 100%;
	background-size: cover
}

.chief__container {
	padding: 131px 0 89px 0;
	position: relative;
	color: #fff;
	margin: 0 auto;
	width: 1100px
}

@media (max-width:1140px) {
	.chief__container {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:768px) {
	.chief__container {
		padding-left: 20px;
		padding-right: 20px
	}
}

@media (max-width:425px) {
	.chief__container {
		padding-top: 50px;
		padding-bottom: 50px
	}
}

.chief__title {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 75px;
	text-transform: uppercase;
	margin-bottom: 89px
}

@media (max-width:992px) {
	.chief__title {
		font-size: 40px;
		line-height: 125%
	}
}

@media (max-width:640px) {
	.chief__title {
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 23px;
		line-height: 27px
	}
}

@media (max-width:768px) {
	.chief__title {
		margin-bottom: 41px
	}
}

.chief__descriptions {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	color: #fff
}

@media (max-width:1140px) {
	.chief__descriptions {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start
	}
}

@media (max-width:768px) {
	.chief__descriptions {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start
	}
}

.chief__descriptions__informations {
	margin: 0 35px 0 0;
	width: 170px
}

@media (max-width:768px) {
	.chief__descriptions__informations {
		margin: 0 0 22px 0;
		width: 100%
	}
}

.chief__descriptions__informations_big {
	width: 180px;
	margin-right: 35px
}

@media (max-width:768px) {
	.chief__descriptions__informations_big {
		margin-right: 0;
		width: 100%
	}
}

.services {
	width: 100%;
	padding: 0;
	background-color: #f8f8f8
}

.services__container {
	margin: 0 auto;
	width: 1100px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

@media (max-width:1140px) {
	.services__container {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:768px) {
	.services__container {
		padding-left: 20px;
		padding-right: 20px
	}
}

.services__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 103px;
	padding-bottom: 34px
}

.services__block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 45px;
	margin-right: 40px;
	position: relative;
	background-size: cover;
	width: 320px;
	height: 380px;
	color: #fff
}

.services__block:before {
	content: '';
	background: 0 0;
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition: background-color .3s linear;
	-o-transition: background-color .3s linear;
	transition: background-color .3s linear
}

.services__block:hover:before {
	background: #1254b5!important
}

@media (max-width:768px) {
	.services__block {
		height: auto
	}
}

@media (max-width:425px) {
	.services__block {
		width: 100%;
		margin: 5px 0
	}
}

.services__block__text {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	position: relative;
	z-index: 4;
	margin: 0 20px 0 27px;
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row
}

.services__block__text:before {
	content: '•';
	font-size: 14px;
	color: #fff;
	margin-right: 11px
}

.services__block_empty {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 45px;
	margin-right: 40px;
	position: relative;
	background-size: cover;
	width: 320px;
	height: 380px;
	color: #fff
}

@media (max-width:768px) {
	.services__block_empty {
		height: auto
	}
}

@media (max-width:425px) {
	.services__block_empty {
		width: 100%;
		margin: 5px 0
	}
}

.services__block_empty__text {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	position: relative;
	z-index: 4;
	margin: 0 20px 0 27px;
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row
}

.services__block_empty__text:before {
	content: '•';
	font-size: 14px;
	color: #fff;
	margin-right: 11px
}

.services__block_empty__button {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 15px;
	width: 100%;
	height: 40px;
	border: #fff solid 1px;
	border-radius: 8px;
	color: #fff;
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 15px
}

.services__block_empty__information {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	position: relative;
	z-index: 2;
	padding: 10px 20px 20px 20px;
	width: 100%
}

.services__block_empty__information__numbers {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	margin-bottom: 60px
}

.services__button,
.services__button_options {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 15px;
	width: 100%;
	height: 40px;
	border: #fff solid 1px;
	border-radius: 8px;
	color: #fff;
	display: none;
	cursor: pointer;
	-webkit-transition: background-color .3s linear;
	-o-transition: background-color .3s linear;
	transition: background-color .3s linear;
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 15px
}

.services__button:hover,
.services__button_options:hover {
	background-color: #fff;
	color: #1254b5
}

@media (max-width:1140px) {
	.services__button,
	.services__button_options {
		display: block
	}
}

.services__title {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	line-height: 27px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
	margin: 32px 20px 20px 20px
}

@media (max-width:425px) {
	.services__title {
		margin: 0 auto;
		width: 1100px;
		padding: 34px 0 12px 0
	}
}

@media (max-width:425px) and (max-width:1140px) {
	.services__title {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:425px) and (max-width:768px) {
	.services__title {
		padding-left: 20px;
		padding-right: 20px
	}
}

.services__list {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	position: relative;
	z-index: 2
}

.services__information {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	position: relative;
	z-index: 2;
	padding: 10px 20px 30px 20px;
	width: 100%
}

.services__information__numbers {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	margin-bottom: 55px
}

@media (max-width:1140px) {
	.services__information__numbers {
		margin-bottom: 15px
	}
}

.services__information__number {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	margin-right: 10px
}

.services__information__number_big {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	font-weight: 700
}

@media (max-width:425px) {
	.services__container {
		width: 100%;
		padding: 0
	}
	.services__row {
		width: 100%;
		padding: 50px 0 0 0;
		margin: 0
	}
	.services__information {
		padding: 10px 20px 20px 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 23px
	}
	.services__information__button_options {
		width: 45%
	}
	.services__information__button {
		width: 100%
	}
	.services__list li {
		margin: 10px 20px
	}
}

.differences__container {
	margin: 0 auto;
	width: 1100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

@media (max-width:1140px) {
	.differences__container {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:768px) {
	.differences__container {
		padding-left: 20px;
		padding-right: 20px
	}
}

@media (max-width:768px) {
	.differences__container {
		padding-bottom: 0
	}
}

@media (max-width:425px) {
	.differences__container {
		padding: 0;
		width: 100%
	}
}

.differences__container_margin {
	margin-bottom: 80px
}

@media (max-width:768px) {
	.differences__container_margin {
		margin-bottom: 10px
	}
}

.differences__title {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 125%;
	text-transform: uppercase;
	margin: 80px 0 60px 0;
	text-transform: uppercase
}

@media (max-width:768px) {
	.differences__title {
		font-size: 28px;
		line-height: 28px;
		margin: 50px 0 30px 0
	}
}

@media (max-width:425px) {
	.differences__title {
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 15px;
		line-height: 20px
	}
}

@media (max-width:1140px) {
	.differences__title {
		margin: 0 auto;
		width: 1100px;
		margin-top: 50px;
		margin-bottom: 30px;
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 23px
	}
}

@media (max-width:1140px) and (max-width:1140px) {
	.differences__title {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:1140px) and (max-width:768px) {
	.differences__title {
		padding-left: 20px;
		padding-right: 20px
	}
}

.differences__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 32px
}

.differences__row:last-child {
	margin-bottom: 0
}

@media (max-width:1140px) {
	.differences__row {
		margin: 0 auto;
		width: 1100px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		margin: 0
	}
}

@media (max-width:1140px) and (max-width:1140px) {
	.differences__row {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:1140px) and (max-width:768px) {
	.differences__row {
		padding-left: 20px;
		padding-right: 20px
	}
}

@media (max-width:1140px) {
	.differences__row img {
		margin-bottom: 30px;
		width: 45%
	}
}

@media (max-width:1140px) and (max-width:768px) {
	.differences__row img {
		width: 100%
	}
}

@media (max-width:768px) {
	.differences__row {
		padding-left: 0;
		padding-right: 0
	}
}

@media (max-width:1140px) {
	.differences__row_reverse {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		margin: 0 auto;
		width: 1100px;
		margin: 0
	}
}

@media (max-width:1140px) and (max-width:1140px) {
	.differences__row_reverse {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:1140px) and (max-width:768px) {
	.differences__row_reverse {
		padding-left: 20px;
		padding-right: 20px
	}
}

.differences__row_reverse img {
	margin-bottom: 30px;
	width: 45%
}

@media (max-width:768px) {
	.differences__row_reverse img {
		width: 100%
	}
}

@media (max-width:768px) {
	.differences__row_reverse {
		padding-left: 0;
		padding-right: 0
	}
}

.differences__text {
	width: 45%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.differences__text h3 {
	text-transform: uppercase;
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	line-height: 27px;
	margin: 5px 0
}

@media (max-width:768px) {
	.differences__text h3 {
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 20px;
		text-transform: none;
		font-weight: 700
	}
}

.differences__text p {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	margin: 5px 0
}

@media (max-width:1140px) {
	.differences__text {
		width: 100%;
		margin-bottom: 30px
	}
}

@media (max-width:425px) {
	.differences__text {
		margin: 0 auto;
		width: 1100px;
		margin-bottom: 20px
	}
}

@media (max-width:425px) and (max-width:1140px) {
	.differences__text {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:425px) and (max-width:768px) {
	.differences__text {
		padding-left: 20px;
		padding-right: 20px
	}
}

.differences__text_bottom {
	margin-bottom: 30px!important
}

.differences__text_margin {
	width: 45%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.differences__text_margin h3 {
	text-transform: uppercase;
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	line-height: 27px;
	margin: 5px 0
}

@media (max-width:768px) {
	.differences__text_margin h3 {
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 20px;
		font-weight: 700
	}
}

.differences__text_margin p {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	margin: 5px 0
}

@media (max-width:1140px) {
	.differences__text_margin {
		width: 100%;
		margin-bottom: 30px
	}
}

@media (max-width:425px) {
	.differences__text_margin {
		margin: 0 auto;
		width: 1100px;
		margin-bottom: 20px
	}
}

@media (max-width:425px) and (max-width:1140px) {
	.differences__text_margin {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:425px) and (max-width:768px) {
	.differences__text_margin {
		padding-left: 20px;
		padding-right: 20px
	}
}

.differences__text_margin_bottom {
	margin-bottom: 30px!important
}

.differences__title__blue {
	color: #1254b5
}

.differences__subtitle {
	margin: 80px 0 30px 0
}

@media (max-width:1140px) {
	.differences__subtitle {
		margin: 20px 0 35px 0
	}
}

.reasons {
	width: 100%;
	background-color: #14243d;
	color: #fff
}

.reasons__container {
	margin: 0 auto;
	width: 1100px;
	padding-top: 80px;
	padding-bottom: 45px
}

@media (max-width:1140px) {
	.reasons__container {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:768px) {
	.reasons__container {
		padding-left: 20px;
		padding-right: 20px
	}
}

@media (max-width:768px) {
	.reasons__container {
		padding-top: 50px;
		padding-bottom: 0
	}
}

.reasons__title {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 125%;
	margin-bottom: 60px;
	margin-top: 0
}

@media (max-width:768px) {
	.reasons__title {
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 23px;
		margin-bottom: 30px
	}
}

.reasons__description {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	line-height: 27px
}

@media (max-width:768px) {
	.reasons__description {
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 20px
	}
}

.reasons__blocks {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start
}

@media (max-width:768px) {
	.reasons__blocks {
		padding-bottom: 30px
	}
}

.reasons__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.reasons__block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin: 30px 0
}

.reasons__number {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 125%;
	color: #1254b5;
	width: 100px
}

@media (max-width:768px) {
	.reasons__number {
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 20px;
		width: 20px;
		margin: 0 8px 0 0
	}
}

.reasons__text {
	width: 400px
}

.reasons__text h3 {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	margin: 7px 0
}

.reasons__text__normal {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 10px
}

.reasons__text__normal:last-child {
	margin-bottom: 0
}

.reasons__text__bold {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 6px
}

.reasons__text__bold:last-child {
	margin-bottom: 0
}

@media (max-width:1140px) {
	.reasons__row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start
	}
	.reasons__text {
		width: 100%
	}
	.reasons__text__bold {
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 20px
	}
}

@media (max-width:768px) {
	.reasons__title {
		margin-top: 0
	}
}

@media (max-width:425px) {
	.reasons__description {
		margin: 10px 0
	}
	.reasons__block {
		margin: 10px 0
	}
}

.calculator__container {
	margin: 0 auto;
	width: 1100px
}

@media (max-width:1140px) {
	.calculator__container {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:768px) {
	.calculator__container {
		padding-left: 20px;
		padding-right: 20px
	}
}

.calculator__title {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 125%;
	margin: 80px 0 60px 0;
	text-transform: uppercase
}

@media (max-width:768px) {
	.calculator__title {
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 23px;
		margin: 30px 0 15px 0
	}
}

input[type=range] {
	-webkit-appearance: none;
	-moz-apperance: none;
	border-radius: 6px;
	height: 2px;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(.15, #1254b5), color-stop(.15, #c5c5c5))
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none!important;
	background-color: #1254b5;
	border: 1px solid #1254b5;
	border-radius: 50%;
	height: 15px;
	width: 15px
}

.active_button {
	background-color: #1254b5!important;
	color: #fff
}

.container_grey {
	background: #f8f8f8;
	padding-bottom: 50px
}

@media screen and (max-width:1140px) {
	.container_grey {
		padding-bottom: 30px
	}
}

.calculator-block__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.calculator-block__text_grey {
	color: #9fb2b1
}

.calculator-block__text_bold {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	margin-right: 5px!important
}

.calculator-block__range {
	width: 100%
}

.calculator__container {
	margin: 0 auto;
	width: 1100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

@media (max-width:1140px) {
	.calculator__container {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:768px) {
	.calculator__container {
		padding-left: 20px;
		padding-right: 20px
	}
}

@media (max-width:1140px) {
	.calculator__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
}

@media (max-width:768px) {
	.calculator__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
}

@media (max-width:425px) {
	.calculator__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
}

.calculator__column {
	width: 300px
}

@media screen and (max-width:1140px) {
	.calculator__column {
		width: 30%
	}
}

@media (max-width:1140px) {
	.calculator__column {
		width: 100%
	}
}

@media (max-width:768px) {
	.calculator__column {
		width: 100%
	}
}

@media (max-width:425px) {
	.calculator__column {
		width: 100%
	}
}

.calculator-block__title {
	padding: 0;
	margin: 50px 0 20px 0;
	color: #9fb2b1;
	text-transform: uppercase;
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	line-height: 27px
}

@media (max-width:1140px) {
	.calculator-block__title {
		margin: 20px 0 10px 0
	}
}

@media (max-width:768px) {
	.calculator-block__title {
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 20px
	}
}

.calculator-block__text {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px
}

.calculator-block__text__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: 700;
	font-size: 18px
}

.calculator-block__content {
	width: 100%;
	margin: 28px 0
}

@media (max-width:1140px) {
	.calculator-block__content {
		margin: 0 0 15px 0
	}
}

.calculator-block__buttons {
	margin: 10px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.calculator-block__buttons button {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	height: 40px;
	width: 32%;
	border: none;
	border-radius: 5px;
	border-bottom: 2px;
	background-color: #d8dbe8
}

.calculator-block__buttons button:active,
.calculator-block__buttons button:focus,
.calculator-block__buttons button:hover {
	background-color: #1254b5;
	color: #fff
}

.calculator-block__input {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px
}

@media (max-width:425px) {
	.calculator-block__input {
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 20px
	}
}

.calculator-block__input input {
	padding-right: 10px;
	text-align: end;
	height: 40px;
	width: 90px;
	border: #d8dbe8 solid 1px;
	border-radius: 5px;
	margin: 0 10px
}

.calculator__result__big__number {
	font-weight: 700;
	font-size: 40px;
	line-height: 125%
}

.fuel__measure {
	width: 85px
}

@media (max-width:1140px) {
	.calculator__column__center {
		margin: 30px 0
	}
}

.floating_block {
	width: 100%;
	background-color: #1254b5
}

.floating_content {
	padding: 15px 0;
	color: #fff;
	margin: 0 auto;
	width: 1100px
}

@media (max-width:1140px) {
	.floating_content {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:768px) {
	.floating_content {
		padding-left: 20px;
		padding-right: 20px
	}
}

.fixed {
	position: fixed;
	bottom: 0
}

.container_blue {
	background: #1254b5;
	padding-bottom: 50px;
	color: #fff;
	font-family: Ubuntu, sans-serif;
	font-style: normal
}

.calculator__information {
	margin: 0 auto;
	width: 1100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	color: #fff;
	padding: 50px 0 48px 0
}

@media (max-width:1140px) {
	.calculator__information {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:768px) {
	.calculator__information {
		padding-left: 20px;
		padding-right: 20px
	}
}

@media (max-width:1140px) {
	.calculator__information {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding-top: 50px;
		padding-bottom: 30px;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start
	}
}

.calculator__result {
	background-color: #1254b5;
	width: 365px
}

.calculator__result p {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 15px
}

@media (max-width:768px) {
	.calculator__result {
		width: 100%
	}
}

@media (max-width:425px) {
	.calculator__result {
		background-color: #1254b5;
		width: 100%;
		padding-bottom: 10px
	}
}

.calculator__contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 10px
}

@media (max-width:1140px) {
	.calculator__contacts {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start
	}
}

@media (max-width:768px) {
	.calculator__contacts {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start
	}
}

.accordion {
	margin: 0 auto;
	width: 1100px
}

@media (max-width:1140px) {
	.accordion {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:768px) {
	.accordion {
		padding-left: 20px;
		padding-right: 20px
	}
}

.accordion__container {
	border: #fff solid 1px;
	border-radius: 8px
}

.accordion__title {
	margin: 20px
}

.accordion__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	cursor: pointer;
	height: 60px
}

.accordion__image {
	height: 8px;
	width: 12px;
	margin: 24px
}

.accordion__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-top: #fff solid 1px
}

@media (max-width:1140px) {
	.accordion__content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
}

@media (max-width:768px) {
	.accordion__content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
}

@media (max-width:425px) {
	.accordion__content {
		display: none;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
}

.accordion__column {
	width: 90%
}

@media (max-width:1140px) {
	.accordion__column {
		width: 100%
	}
}

.accordion__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 20px
}

.accordion__row h4 {
	color: #d8dbe8
}

.accordion__row__text {
	color: #d8dbe8;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px
}

@media (max-width:1140px) {
	.accordion__row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
}

.accordion__row p {
	margin-bottom: 10px
}

.accordion__row p:last-child {
	margin-bottom: 0
}

.accordion__row_margin {
	padding: 14px 0!important
}

.big_bold_number {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	line-height: 27px
}

.bold_number {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px
}

.calculator__feedback__phone-number {
	margin-left: 10px
}

@media (max-width:1140px) {
	.calculator__feedback__phone-number {
		margin: 0 0 20px 0
	}
}

@media (max-width:768px) {
	.calculator__feedback__phone-number {
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 15px;
		line-height: 20px
	}
}

.calculator__feedback__button {
	width: 200px;
	height: 40px;
	color: #1254b5;
	background: #fff;
	border: none;
	border-radius: 8px;
	margin: 6px 0 0 30px
}

@media (max-width:1140px) {
	.calculator__feedback__button {
		width: 279px;
		margin: 20px 0
	}
}

@media (max-width:768px) {
	.calculator__feedback__button {
		width: 100%;
		margin: 20px 0
	}
}

@media (max-width:425px) {
	.calculator__feedback__button {
		width: 100%;
		margin: 20px 0
	}
}

.active {
	-webkit-transform: rotate(.5turn);
	-ms-transform: rotate(.5turn);
	transform: rotate(.5turn)
}

.contractor {
	width: 100%
}

.contractor__container {
	margin: 0 auto;
	width: 1100px;
	padding-bottom: 50px
}

@media (max-width:1140px) {
	.contractor__container {
		width: 85%
	}
}

@media (max-width:425px) {
	.contractor__container {
		padding-bottom: 0;
		width: 100%
	}
}

.contractor__title h2 {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 125%;
	margin: 80px 0 60px 0
}

@media (max-width:768px) {
	.contractor__title h2 {
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 23px;
		margin: 60px 0 20px 0
	}
}

.contractor__blocks {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.contractor__column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.contractor__block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 20px;
	width: 500px
}

.contractor__block:last-child {
	margin-bottom: 0
}

@media (max-width:768px) {
	.contractor__block {
		margin-bottom: 20px
	}
}

.contractor__number {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 125%;
	width: 100px;
	color: #1254b5
}

@media (max-width:425px) {
	.contractor__number {
		padding: 0 16px 0 0;
		width: 20px;
		font-weight: 500;
		font-size: 15px;
		line-height: 20px
	}
}

.contractor__text {
	width: 400px
}

@media (max-width:1140px) {
	.contractor__text {
		width: 100%
	}
}

.contractor__text__title {
	margin: 0 0 10px 0;
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px
}

@media (max-width:768px) {
	.contractor__text__title {
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 20px
	}
}

.contractor__text__inf {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px
}

.contractor__column__image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.contractor__column__image img {
	margin-bottom: 67px
}

@media (max-width:1140px) {
	.contractor__blocks {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start
	}
	.contractor__block {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		width: 100%
	}
	.contractor__column__image {
		margin: 30px 0
	}
	.contractor__column__image .image-none {
		display: none
	}
}

@media (max-width:768px) {
	.contractor__column__image img {
		width: 100%;
		height: 80%
	}
	.contractor__title h2 {
		margin: 60px 0 20px 0
	}
}

@media (max-width:425px) {
	.contractor__block {
		margin: 0 auto;
		width: 1100px
	}
}

@media (max-width:425px) and (max-width:1140px) {
	.contractor__block {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:425px) and (max-width:768px) {
	.contractor__block {
		padding-left: 20px;
		padding-right: 20px
	}
}

@media (max-width:425px) {
	.contractor__title {
		margin: 0 auto;
		width: 1100px
	}
}

@media (max-width:425px) and (max-width:1140px) {
	.contractor__title {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:425px) and (max-width:768px) {
	.contractor__title {
		padding-left: 20px;
		padding-right: 20px
	}
}

@media (max-width:425px) {
	.contractor__text__inf {
		padding-bottom: 20px!important
	}
	.contractor__column__image {
		margin: 0 0 30px 0
	}
}

input[type=text]::-webkit-input-placeholder {
	color: #d8dbe8
}

input[type=tel]::-webkit-input-placeholder {
	color: #d8dbe8
}

input[type=text]::-moz-placeholder {
	color: #d8dbe8
}

input[type=tel]::-moz-placeholder {
	color: #d8dbe8
}

.feedback_grey {
	background-color: #f8f8f8;
	background-image: none;
	width: 100%
}

.feedback__container {
	margin: 0 auto;
	width: 1100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	padding-top: 60px;
	padding-bottom: 60px
}

@media (max-width:1140px) {
	.feedback__container {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media (max-width:768px) {
	.feedback__container {
		padding-left: 20px;
		padding-right: 20px
	}
}

@media (max-width:992px) {
	.feedback__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
}

.feedback__title {
	font-family: Ubuntu, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 125%;
	text-transform: uppercase
}

@media (max-width:768px) {
	.feedback__title {
		font-family: Ubuntu, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 20px;
		font-weight: 700
	}
}

.feedback__title_blue {
	color: #1254b5
}

@media (max-width:768px) {
	.feedback__form {
		margin-left: 0
	}
}

.feedback__input {
	width: 300px;
	height: 40px;
	border: #d8dbe8 solid 1px;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #fff;
	padding: 10px;
	color: #d8dbe8
}

@media (max-width:425px) {
	.feedback__input {
		width: 280px;
		height: 40px
	}
}

.feedback__block {
	width: 50%
}

@media (max-width:992px) {
	.feedback__title {
		width: 100%
	}
	.feedback__block {
		width: 100%;
		margin-bottom: 30px
	}
	.feedback__container {
		margin: 0 auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center
	}
	.feedback__container {
		margin: 0 auto;
		padding-top: 30px;
		padding-bottom: 60px
	}
}

.wpcf7-submit {
	width: 300px;
	height: 40px;
	background-color: #1254b5;
	border-radius: 5px;
	color: #fff
}

@media (max-width:425px) {
	.wpcf7-submit {
		width: 280px;
		height: 40px
	}
}

@media (max-width: 425px){

	.contractor__block{
		flex-direction: column;
	}

	.contractor__number {
		width: 100%;
		display: flex;
		align-items: center;
		font-size: 18px;
		font-weight: 700;
		color: #1254b5;
	}

	.contractor__number::before{
		content: "";
		display: inline-block;
		width: 3px;
		height: 28px;
		display: inline-block;
		background: #999;
		transform: skewX(
				-22deg);
		margin-right: 16px;
		margin-left: 6px;
	}

	.contractor__number::after{
		content: "";
		height: 1px;
		display: inline-block;
		background: #e1e1e1;
		width: auto;
		flex-grow: 1;
		margin-left: 8px;
	}

	.contractor__text{
		margin-top: 7px;
	}
}

#map{
	max-width: 400px;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.footer__row{
		flex-wrap: wrap;
	}
	#map{
		display: block !important;
		width: 100%;
		order: 3;
		max-width: 100%;
	}
}


