.form
  +wrapper()
  padding-top: 72px
  padding-bottom: 98px
  background: $light_grey_2
  &__container
    +container()
    flex-flow: row nowrap
    justify-content: space-between

  &__block
    width: 100%
    max-width: 400px

    label
      +subtitle_1()
      color: $black
      margin-bottom: 10px
      &.bold
        +subtitle_2()
        color: $dark
        margin-bottom: 15px

    span.form__notice
      +subtitle_3()
      color: $grr
      display: block
      margin-top: 5px

    input
      width: 100%
      height: 40px
      border: 1px solid $light_grey
      border-top: 2px solid $light_grey
      padding-left: 10px
      +subtitle_1()
      color: $black
      &.form__input
        margin-bottom: 20px

      &:focus
        border: 1px solid $blue!important
        border-top: 2px solid $blue!important

    textarea
      min-width: 100%
      max-width: 100%
      max-height: 80px
      min-height: 80px
      margin-bottom: 32px
      border: 1px solid $light_grey
      border-top: 2px solid $light_grey
      padding-left: 10px
      +subtitle_1()
      color: $black

    .wpcf7-submit
      border: none
      width: 150px
      height: 30px
      display: flex
      justify-content: center
      align-items: center
      border-radius: 30px
      +subtitle_3()
      color: $light_grey_2
      background: $blue
      transition: all $as
      cursor: pointer
      outline: none
      padding-left: 0
      &:hover
        filter: drop-shadow(0px 1px 7px rgba(1, 63, 154, 0.3));
        transition: all $as
      &:active
        background: #064299
        transition: all $as

    .wpcf7-form.invalid
      .wpcf7-validates-as-required
        border: 1px solid $red
        border-top: 2px solid $red

    span.wpcf7-not-valid-tip,
    div.wpcf7-validation-errors
      display: none!important

  &__text
    max-width: 398px
    +headline_3()
    color: $dark_blue
    span, a
      color: $blue

  +phone()
    padding-top: 30px
    padding-bottom: 50px

    &__container
      +mobContainer()
      flex-flow: column nowrap

    &__text
      order: 1
      margin-bottom: 30px
      +headline_1_mobile()

    &__block
      order: 2
