.offers
  +wrapper()
  padding-top: 48px

  &__container
    +container()

  h2
    +headline_2()
    text-transform: uppercase
    margin-bottom: 60px

  &__content
    display: flex
    justify-content: space-between
    flex-flow: row nowrap

  &__block
    box-sizing: border-box
    padding: 25px 25px 35px
    width: 300px
    a
      +subtitle_3()
      color: $blue
      display: block
      box-sizing: border-box
      width: 140px
      text-align: center
      padding: 5px 0
      margin: 20px auto 0
      border: 1px solid $blue
      border-radius: 8px
      cursor: pointer
      visibility: hidden
      opacity: 0

    &:hover
      border: 5px solid $blue
      padding: 20px 20px 30px
      transition: all $as
      a
        visibility: visible
        opacity: 1
        transition: all $as

  &__row
    display: flex
    justify-content: space-between
    align-items: center
    height: 35px
    border-bottom: 1px solid $light_grey
    &:nth-child(2)
      height: 60px
      p
        +subtitle_1()
        color: $dark
        max-width: 60%
        text-align: right

    span
      +subtitle_3()
      color: $dark_grey

    p
      +subtitle_2
      color: $dark


  &__image
    margin-bottom: 23px
    img
      width: 100%

  +phone()
    padding-top: 60px

    &__container
      +mobContainer()

    h2
      +subtitle_2()
      margin-bottom: 30px

    &__content
      background: $light_grey_2
      padding: 12px 0 0
      overflow-x: scroll
      overflow-y: visible
      &::-webkit-scrollbar
        width: 0

      &::after
        content: ""
        display: inline-block
        min-width: 10px

    &__block
      background: $white
      min-width: 240px
      padding: 0 0 17px
      margin-left: 10px
      &:hover
        padding: 0
        border: 0

      p
        +subtitle_3()

      b
        +subtitle_4()

      a
        visibility: visible
        opacity: 1

    &__row
      margin-left: 10px
      margin-right: 10px