.header
	height: 49px
	background: $dark_blue
	padding: 0 20px

	&__container
		display: flex
		height: 100%
		align-items: center

	&__logo
		width: 100px
		height: 50px

	&__callback
		+callback()
		margin-left: auto

	&__phone:not(:last-child)
		margin-right: 15px

	&__phone,
	&__email
		font-family: 'ubuntu-bold'
		font-size: 20px
		color: $light_grey_2
		line-height: 25px

		&:hover
			color: $blue
		
	&__email
		margin-right: 39px

	&__menu
		display: none

	+phone()

		&__container
			justify-content: space-between

		&__phone,
		&__email,
		&__callback
			display: none

		&__menu
			display: flex
			position: relative
			width: 24px
			height: 24px
			z-index: $z_menu_button
			outline: none
			background: none
			border: none
			img 
				position: absolute
				top: 0
				left: 0
				transition: all $as

			img:nth-child(1)
				top: 50%
				margin-top: -11px
				left: 50%
				margin-left: -15px
				opacity: 1

			img:nth-child(2)
				opacity: 0
			&.active
				position: fixed
				
				top: 13px
				right: 20px
				img
					transition: all $as
					&:nth-child(1)
						opacity: 0
						transform: rotate(180deg)
					&:nth-child(2)
						opacity: 1
						transform: rotate(180deg)


.nav
	+wrapper()
	height: 40px
	background: $blue
	&__container
		+container()
		flex-flow: row nowrap
		align-items: center
		a
			+subtitle_4()
			color: $white
			text-transform: uppercase
			margin-right: 30px
			text-decoration: none

			&:hover
				color: $grr

	&__block
		position: relative
		height: 100%
		display: flex
		align-items: center
		justify-content: center
		&__pod
			position: absolute
			width: 200px
			z-index: $z_podmenu
			background: $light_grey_2
			bottom: 0
			transform: translateY(100%)
			left: -20px
			display: flex
			flex-flow: column nowrap
			opacity: 0
			transition: all $as
			visibility: hidden
			a
				padding-left: 15px
				+subtitle_3()
				color: $black
				padding-top: 8px
				padding-bottom: 8px
				padding-right: 16px
				border-bottom: 1px solid $light_grey
				text-decoration: none
				margin-right: 0
				width: 100%
				box-sizing: border-box
				text-transform: none

		&:hover
			.nav__block__pod
				opacity: 1
				visibility: visible
				transition: all $as

	+phone()
		display: none

		&__block
			justify-content: flex-start
			flex-flow: column nowrap
			a
				width: 100%

			&__pod
				transform: none
				position: static
				background: none
				width: auto
				opacity: 1
				visibility: visible
				margin-right: auto
				a
					margin-bottom: 15px
					text-decoration: none
					padding: 0
					padding-left: 15px
					border-bottom: none
.menu
	position: fixed
	top: 0
	right: 0
	width: 250px
	background: $dark_blue
	height: 100vh
	z-index: $z_menu
	transform: translateX(250px)
	transition: transform $as
	&__container
		padding-left: 30px
		padding-bottom: 25px
		padding-top: 70px
		height: 100%
		display: flex
		flex-flow: column nowrap

	&__list
		display: flex
		flex-flow: column nowrap
		margin-bottom: 60px
		a
			+subtitle_4()
			color: $white
			margin-bottom: 15px
			margin-top: 15px
			text-transform: uppercase
			text-decoration: none
			
			&:last-child
				margin-bottom: 0

		.nav__block

			&__pod
				a
					border-bottom: none
					padding: 0
					margin: 0
					margin-left: 25px
					margin-bottom: 5px
					font-size: 11px

	&__email
		+subtitle_4()
		color: $light_grey_2
		text-transform: uppercase
		margin-bottom: 20px
		display: block

	&__callback
		+callback()
		margin-bottom: 20px
		margin-right: auto

	&__phone
		+subtitle_4()
		color: $light_grey_2
		display: block
		&:not(:last-child)
			margin-bottom: 6px

	&__logo
		margin-top: auto
		margin-top: 60px
		display: block

	&.active
		transform: translateX(0)
		transition: transform $as