.benefits

  &__container
    +container_width()

  &__title
    +subtitle()

  &__subtitle
    +font_bold_23()
    margin-bottom: 15px
    text-transform: uppercase

    +tablet()
      +font_500_15()
      margin-bottom: 10px

  &__button
    +font_300_12()
    width: 150px
    height: 30px
    border-radius: 8px
    border: #1254b5 solid 1px
    color: #1254b5

    +tablet()
      width: 100%


  &__content
    display: flex
    flex-direction: row
    +tablet()
      flex-direction: column

    &__block
      +font_300_15()
      border: #D8DBE8 solid 1px
      &:hover
        color: white
        background-color: #1254b5
        button
          border: white solid 1px
          color: white
          &:hover
            background-color: white
            color: #1254b5

      &__text
        margin-bottom: 13px

      &__information
        padding: 28px

        li
          font-style: normal
          font-weight: 300
          font-size: 15px
          line-height: 20px
          list-style-type: none
          display: flex
          flex-direction: row
          margin: 10px 0
          &:before
            content: '•'
            font-size: 42px
            color: #1254b5
            margin-right: 18px


        +tablet__l()
          padding: 20px

      &__column
        height: 100%

    &__row
      display: flex
      flex-direction: row
      width: 100%

      +tablet__l()
        flex-direction: column

      &__column
        width: 50%

        +tablet__l()
          width: 100%

    &__column_1
      width: 33.33%

      +tablet__l()
        width: 100%

    &__column_2
      display: flex
      flex-direction: row
      flex-wrap: wrap
      width: 66.66%

      +tablet__l()
        width: 100%

.block_1__bold
  text-transform: uppercase
  font-family: Open Sans
  font-style: normal
  font-weight: bold
  font-size: 12px
  line-height: 16px


