.color__variations

  +laptop()
    display: none

  &__container
    +container_width()
    margin-bottom: 60px

  &__title
    +subtitle()

  &__content
    +flex_row_between()


.swiper__content__display
  display: none

  +laptop()
    display: block