.dop__description

  &__container
    +container_width()
    +flex_row_between()
    flex-wrap: wrap
    align-items: center

    +laptop()
      +flex_column_start()
      flex-direction: column-reverse
      padding: 0

    &__margin
      margin-top: 60px
      margin-bottom: 80px

      +laptop()
        margin: 0
        //margin-bottom: 40px

    //&__padding
    //  padding-top: 60px
    //  padding-bottom: 80px

      +laptop()
        padding-top: 0
        padding-bottom: 0

    &__reverse
      flex-direction: row-reverse
      +laptop()
        +flex_column_start()
        flex-direction: column-reverse

  &__blue
    background-color: #14243D
    color: white

  &__grey
    background-color: #F8F8F8


  &__block__img
    width: 45%

    +laptop()
      width: 100%

    +tablet()
      width: 100%

  &__block
    width: 45%

    +laptop()
      width: 100%
      padding: 30px 0
      +container_width()

    +tablet()
      width: 100%

    &__title
      +font_500_18()
      margin-bottom: 13px

      +laptop()
        +font_bold_15()

    ul
      margin: 20px 0
      +font_300_15()

    li
      list-style-type: none
      display: flex
      flex-direction: row
      margin-bottom: 11px
      &:before
        content: '•'
        font-size: 40px
        color: #1254b5
        margin-right: 18px

  &__p
    +font_300_15()
    margin-bottom: 16px

  &__image
    width: 100%
    height: 100%
    vertical-align: bottom