.dop__equipment

  &__container
    +container_width()

  &__title
    +subtitle()

  &__row
    +flex_row_between()
    flex-flow: row nowrap
    overflow-x: auto


  &__column
    +flex_column_between()
    width: 300px
    height: 540px
    border: $light_grey solid 1px
    +mobile__l()
      width: 280px
    img
      width: 240px
      height: 210px
      object-fit: cover
      margin: 30px
    &__title
      font-family: Ubuntu
      font-style: normal
      font-weight: 500
      font-size: 18px
      line-height: 23px
      margin: 0 30px
    &__list
      margin-bottom: 20px // скрыла кнопку
      li
        font-style: normal
        font-weight: 300
        font-size: 15px
        line-height: 20px
        list-style-type: none
        display: flex
        flex-direction: row
        margin: 10px 30px
        &:before
          content: '•'
          font-size: 42px
          color: #1254b5
          margin-right: 18px
    button
      display: none // скрыла кнопку
      width: 240px
      height: 30px
      color: $blue
      font-style: normal
      font-weight: 300
      font-size: 12px
      line-height: 15px
      border: $blue solid 1px
      border-radius: 8px
      margin: 0 30px 30px 30px
      &:hover
        background-color: $blue
        color: $white
