.feedbacks
  background-image: none
  background-color: $blue
  color: $white
  padding: 0

  &__container
    +flex_row_between()
    +container_width()
    padding-bottom: 80px
    padding-top: 80px
    align-items: center
    +tablet()
      +flex_column_start()
      flex-direction: column-reverse
      align-items: flex-start
      padding: 0 0 50px 0

  &__block
    width: 45%
    +font_500_18()
    +tablet()
      +container_width()
      width: 100%

  &__block__image
    width: 45%
    +font_500_18()
    +tablet()
      width: 100%

  &__title
    +font_bold_40()
    margin-bottom: 60px
    text-transform: uppercase
    +tablet()
      +font_500_15()
      margin-top: 30px
      margin-bottom: 30px

  &__text
    +font_500_18()
    margin-bottom: 20px
    +tablet()
      +font_500_15()
      margin-bottom: 15px

    &_big
      +font_bold_23()
      +tablet()
        +font_500_15()

  &__btn
    height: 50px
    width: 300px
    background-color: $white
    color: $blue
    +font_300_15()
    border-radius: 8px
    &:hover
      background-color: $blue
      border: $white solid 1px
      color: $white
    +mobile__l()
      width: 100%

  &__image
    width: 100%
    height: auto


