.peculiarities

  &__container
    +container_width()

  &__row
    +flex_row_between()
    +tablet__l()
      +flex_column_start()

  &__blocks
    &__margin
      margin-bottom: 60px

      +tablet__l()
        margin-bottom: 30px

  &__title
    +subtitle()

  &__block
    width: 45%
    +font_300_15()
    +tablet__l()
      width: 100%
    p
      margin: 10px 0
    li
      margin: 10px 0
      list-style-type: none
      display: flex
      flex-direction: row
      &:before
        content: '•'
        font-size: 24px
        color: #1254b5
        margin-right: 18px
      &:first-child
        margin-top: 0

    &__subtitle
      font-family: Ubuntu
      font-style: normal
      font-weight: bold
      font-size: 23px
      line-height: 27px
      margin: 0 0 20px 0 !important
      text-transform: uppercase
      +mobile__l()
        font-weight: 500
        font-size: 15px
        line-height: 20px

.peculiarities__block__image
  img
    width: 500px
    +tablet__l()
      margin-top: 10px
      width: 100%