.power__equipment

  img
    width: 100%

  &__container
    +container_width()
    margin-bottom: 50px

  &__title
    +subtitle()

  &__block__image
    width: auto
    height: auto

    &__title
      font-family: Ubuntu
      font-style: normal
      font-weight: 300
      font-size: 15px
      line-height: 20px
      text-align: center
      margin: 30px auto

  &__block__list
    +flex_row_between()

    +tablet()
      +flex_column_start()

    ul
      margin: 14px 0
      font-family: Ubuntu
      font-style: normal
      font-weight: 300
      font-size: 15px
      line-height: 20px

    li
      list-style-type: none
      display: flex
      flex-direction: row
      margin-bottom: 10px
      &:before
        content: '•'
        font-size: 40px
        color: #1254b5
        margin-right: 18px

  &__block__1
    width: 45%
    +tablet()
      width: 100%

  &__block__title
    width: 45%
    font-family: Ubuntu
    font-style: normal
    font-weight: 500
    font-size: 18px
    line-height: 23px
    margin-bottom: 10px

    +tablet()
      +font_bold_15()
      width: 100%

  &__image
    width: 100%

