.preview

  &__container
    +container_width()
    +tablet__l()
      padding: 0

  &__title
    +subtitle()
    +tablet__l()
      +container_width()
      +subtitle()

  &__row
    +flex_row_between()
    align-items: center
    +tablet__l()
      +flex_column_start()
      flex-direction: column-reverse

    &__reverse
      +flex_row_between()
      flex-direction: row-reverse
      align-items: center
      +tablet__l()
        +flex_column_start()
        flex-direction: column-reverse

  &__column
    width: 45%

    +tablet__l()
      +container_width()
      width: 100%

    li
      +font_500_18()
      margin: 20px 8px
      list-style-type: none
      display: flex
      flex-direction: row
      align-items: center
      +mobile__l()
        +font_500_15()
      &:before
        content: '•'
        font-size: 32px
        color: #1254b5
        margin-right: 18px
      &:first-child
        margin-top: 0

  &__column__image
    width: 45%

    +tablet__l()
      width: 100%

  &__p
    +font_300_15()
    margin-bottom: 30px

    // скрыла кнопки и добавила отступ абзацу
  &__button
    +font_300_12()
    display: none
    width: 150px
    height: 30px
    color: $blue
    border: $blue solid 1px
    border-radius: 8px
    margin: 20px 0 34px 0
    &:hover
      background-color: $blue
      color: $white

    +mobile__l()
      width: 100%

  &__image
    width: 100%
    +tablet__l()
      margin-bottom: 20px