.remote__control

  &__container
    +container_width()
    margin-bottom: 60px

  &__title
    +subtitle()

  &__blocks
    +flex_row_between()
    font-family: Ubuntu
    font-style: normal
    font-weight: 300
    font-size: 15px
    line-height: 20px

  &__block
    width: 500px
    p
      margin-bottom: 10px
    &__bold
      font-weight: 500
      font-size: 18px
      line-height: 23px
      +tablet()
        font-size: 15px
    ul
      margin: 20px 0
    li
      margin: 10px 0
      list-style-type: none
      display: flex
      flex-direction: row
      &:before
        content: '•'
        font-size: 24px
        color: #1254b5
        margin-right: 18px
      &:first-child
        margin-top: 0

  +tablet__l()
    img
      width: 480px
    &__block
      width: 480px

  +tablet()
    img
      width: 320px
    &__block
      width: 320px

  +mobile__l()
    img
      width: 100%
      margin: 10px 0
    &__blocks
      +flex_column_start()
    &__block
      width: 100%