.small__advantages
  background-color: #F8F8F8

  &__container
    +container_width()
    +flex_row_between()
    padding-top: 60px
    padding-bottom: 80px

    +tablet__l()
      +flex_column_start()

      padding-top: 30px
      padding-bottom: 30px

  &__image
    width: 64px
    height: 64px
    margin-bottom: 27px

  &__block
    width: 300px

    +tablet__l()
      margin-top: 50px
      &:first-child
        margin-top: 0

    &__bold_text
      +font_500_18()
      margin-bottom: 10px

    &__normal_text
      +font_300_15()