<section class="cost">
    <div class="cost__container">
        <div class="cost__title">
            <h2>Калькулятор цены оборудования</h2>
        </div>

        <div class="pagination">
            <div class="pagination-title">Количество постов:</div>
            <ul>
                <li class="js-post-count" data-count="1">
                    1
                </li>
                <li class="js-post-count" data-count="2">
                    2
                </li>
                <li class="js-post-count" data-count="3">
                    3
                </li>
                <li class="js-post-count" data-count="4">
                    4
                </li>
                <li class="js-post-count" data-count="5">
                    5
                </li>
                <li class="js-post-count" data-count="6">
                    6
                </li>
                <li class="js-post-count" data-count="7">
                    7
                </li>
                <li class="js-post-count" data-count="8">
                    8
                </li>
            </ul>
        </div>

        <div class="costtable">
            <div class="costtable-dop">
                <div class="costtable-dop-title">Дополнительно:</div>
                <div class="pagination-checkbox-block">
                    <label class="pagination-checkbox checkbox">
                        <input type="checkbox" name="montag" class="js-post-montag"> <span>Монтаж&nbsp;—&nbsp;<span
                            class="strong"><span class="js-post-montag-cost"></span>&nbsp;&euro;</span></span>
                    </label>
                    <label class="pagination-checkbox checkbox">
                        <input type="checkbox" name="dop" class="js-post-dop"> <span>Система водоподготовки и&nbsp;обратного осмоса, включая монтаж&nbsp;—&nbsp;<span
                            class="strong"><span class="js-post-dop-cost"></span>&nbsp;&euro;</span></span>
                    </label>
                </div>
            </div>
            <ul>
                <li class="start">
                    <div class="costtable-item js-costtable-btn" data-type="start">
                        <div class="costtable-text">
                            Start
                            <span><span class="js-post-cost" data-type="start"></span>&nbsp;&euro;</span>
                            <button onclick="return location.href = '<?php home_url("template_url"); ?>/equipment-start/'"
                            class="costtable-item-btn">Подробнее
                            </button>
                        </div>
                    </div>
                </li>
                <li class="base">
                    <div class="costtable-item js-costtable-btn" data-type="base">
                        <div class="costtable-text">
                            Base
                            <span><span class="js-post-cost" data-type="base"></span>&nbsp;&euro;</span>
                        </div>
                        <button onclick="return location.href = '<?php home_url("template_url"); ?>/equipment-basic/'"
                        class="costtable-item-btn">Подробнее
                        </button>
                    </div>
                </li>
                <li class="light">
                    <div class="costtable-item">
                        <div class="costtable-text js-costtable-btn" data-type="light">
                            Light
                            <span><span class="js-post-cost" data-type="light"></span>&nbsp;&euro;</span>
                        </div>
                        <button onclick="return location.href = '<?php home_url("template_url"); ?>/equipment-light/'"
                        class="costtable-item-btn">Подробнее
                        </button>
                    </div>
                </li>
                <li class="optima">
                    <div class="costtable-item js-costtable-btn" data-type="optima">
                        <div class="costtable-text">
                            Optima
                            <span><span class="js-post-cost" data-type="optima"></span>&nbsp;&euro;</span>
                        </div>
                        <button onclick="return location.href = '<?php home_url("template_url"); ?>/equipment-optima/'"
                        class="costtable-item-btn">Подробнее
                        </button>
                    </div>
                </li>
                <li class="maxi">
                    <div class="costtable-item js-costtable-btn" data-type="maxi">
                        <div class="costtable-text">
                            Maxi
                            <span><span class="js-post-cost" data-type="maxi"></span>&nbsp;&euro;</span>
                        </div>
                        <button onclick="return location.href = '<?php home_url("template_url"); ?>/equipment-maxi/'"
                        class="costtable-item-btn">Подробнее
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>