.cost
	+wrapper()
	padding-top: 41px
	padding-bottom: 83px
	background: $light_grey_2
	&__container
		+container()

	h2
		+headline_2()
		color: $dark
		text-transform: uppercase
		margin-bottom: 60px
		span
			color: $blue

	&__content
		display: flex
		justify-content: space-between
		flex-flow: row nowrap

	&__text
		display: flex
		flex-flow: column nowrap
		max-width: 401px
		p
			+subtitle_1()
			color: $dark

		span
			+list()

			&:nth-child(2)
				margin-top: 12px

			&:nth-child(4)
				margin-bottom: 12px

	&__image
		display: flex
		flex-flow: column nowrap

		span
			+subtitle_3()
			color: $grr
			margin-top: 8px


	+phone()
		padding-bottom: 42px
		background: none
		padding-top: 0
		h2
			display: none
			
		&__container
			+mobContainer()

		&__content
			flex-flow: column nowrap

		&__text
			order: 1

		&__image
			order: 0
			margin-bottom: 30px
			width: calc(100% + 40px)
			max-width: 576px
			margin-left: -20px

			img
				object-fit: cover

			span
				margin-left: 20px

