.fast
	+wrapper()
	padding-top: 96px
	padding-bottom: 72px
	background: $light_grey_2
	&__container
		+container()

	h2
		+headline_2()
		color: $black
		text-transform: uppercase
		margin-bottom: 58px

	&__content
		display: flex
		flex-flow: row nowrap
		justify-content: space-between

		p
			width: 100%
			max-width: 500px
			+subtitle_1()
			color: $dark

		&__image
			display: flex
			flex-flow: column nowrap

			span
				margin-top: 8px
				color: $grr
				+subtitle_3()


	+phone()
		padding-top: 0
		padding-bottom: 27px
		h2
			display: none

		&__container
			+mobContainer()
			
		&__content
			flex-flow: column nowrap

			p
				order: 1

			&__image
				order: 0
				margin-bottom: 30px
				img
					width: calc(100% + 40px)
					margin-left: -20px
					max-width: 576px
					object-fit: cover