.prices
	+wrapper()
	padding-top: 82px
	padding-bottom: 80px

	&__container
		+container()

	h2
		+headline_2()
		color: $black
		margin-bottom: 60px

	&__subtitle
		+subtitle_2()
		color: $dark
		margin-bottom: 25px

	&__table
		width: 100%
		display: flex
		flex-flow: row nowrap
		&__main
			display: flex
			flex-flow: column nowrap
			padding-top: 65px
			width: 100%
			max-width: 200px
			span
				height: 44px
				display: flex
				align-items: center
				background: $dark
				padding-left: 10px
				border-bottom: 2px solid $dark_grey
				+subtitle_1()
				color: $light_grey_2

				&:first-child
					+subtitle_2()
					color: $white

				&:last-child
					border-bottom: 0

		&__columns
			width: 100%
			display: flex
			flex-flow: row nowrap

		&__column
			width: 100%
			max-width: 174px
			display: flex
			flex-flow: column nowrap
			padding-top: 11px
			div
				+subtitle_2()
				color: $dark
				text-align: center
				margin-bottom: 12px
				min-height: 44px
				border-right: 2px solid $light_grey 

			span
				+subtitle_4()
				height: 44px
				display: flex
				background: $light_grey_2
				align-items: center
				justify-content: flex-end
				color: $dark_grey
				text-transform: uppercase
				border-right: 2px solid $light_grey
				padding-right: 10px
				&:nth-child(2)
					color: $blue
	&__sign
		+subtitle_3()
		color: $grr
		margin-top: 8px

	&__bottom
		margin-top: 45px
		display: flex
		flex-flow: row nowrap
		justify-content: space-between

		p
			+subtitle_1()
			color: $black
			width: 100%
			max-width: 500px




	+phone()
		padding-top: 30px
		padding-bottom: 60px
		&__container
			+mobContainer()

		h2
			+headline_1_mobile()
			margin-bottom: 30px
			text-transform: uppercase

		&__subtitle
			+headline_1_mobile()
			margin-bottom: 30px

		&__table
			&__columns
				min-width: 140px
				max-width: 100%
				overflow-y: scroll

			&__main
				max-width: 125px

			&__column
				min-width: 117px
				div
					+subtitle_3()

		&__bottom
			flex-flow: column nowrap
			margin-top: 30px
			p:first-child
				margin-bottom: 12px

