.work
	+wrapper()
	padding-top: 100px
	padding-bottom: 74px
	background: $blue

	&__container
		+container()

	h2
		+headline_2()
		color: $white

	&__content
		display: flex
		flex-flow: row nowrap
		justify-content: space-between

		&__text
			max-width: 396px
			+subtitle_1()
			color: $white
			padding-top: 60px

		&__image
			display: flex
			flex-flow: column nowrap
			img
				margin-top: -35px
				&.mobile
					display: none
			span
				+subtitle_3()
				color: $grr
				margin-top: 8px




	+phone()
		padding-top: 27px
		padding-bottom: 30px

		&__container
			+mobContainer()

		h2
			+headline_1_mobile()
			margin-bottom: 30px
			max-width: 280px
			br
				display: none

		&__content
			flex-flow: column nowrap

			&__text
				order: 2
				padding-top: 0
				
			&__image
				margin-bottom: 30px
				order: 1
				img
					display: none
					margin-top: 0
					&.mobile
						display: block
						width: 280px