.info
	+wrapper()
	background: $dark_blue

	&__container
		+container()
		padding-top: 78px
		padding-bottom: 75px
		flex-flow: row nowrap

	&__text
		+subtitle_2()
		color: $white
		max-width: 442px
		position: relative
		margin-right: 156px

		&::before
			content: ''
			display: block
			width: 44px
			height: 1px
			background: $light_grey
			position: absolute
			left: -58px
			top: 8px

	&__content
		display: flex
		flex-flow: column nowrap
		width: 100%
		max-width: 302px

		div
			display: flex
			justify-content: space-between
			width: 100%
			margin-bottom: 18px
			align-items: center

			span
				+subtitle_3()
				color: $light_grey_2

			a
				+headline_3()
				color: $white

			&:nth-child(2)
				margin-bottom: 0

		button
			width: 100%
			max-width: 300px
			height: 50px
			border-radius: 8px
			filter: drop-shadow(0px 4px 15px rgba(255, 255, 255, 0.5))
			background: $white
			margin-top: 32px
			+subtitle_1()
			color: $blue

		
	+phone()

		&__container
			flex-flow: column nowrap
			padding: 40px 20px
			align-items: center

		&__text
			margin-right: 0
			padding-left: 25px
			margin-bottom: 30px
			+headline_1_mobile()

			&::before
				width: 20px
				left: -5px

