.prices
	+wrapper()
	padding-top: 60px
	padding-bottom: 58px
	background: #F8F8F8
	&__container
		+container()

		h2
			+headline_2()
			color: $black
			margin-bottom: 84px
			text-transform: uppercase

	&__blocks
		display: flex
		flex-flow: row wrap
		justify-content: space-between

	&__block
		width: 100%
		max-width: 300px
		display: flex
		flex-flow: column nowrap
		&:first-child
			margin-bottom: 78px

		&__image
			margin: 0 auto
			margin-bottom: 32px
			filter: grayscale(100%)
			transition: filter $as

			&:hover
				filter: none
				transition: filter $as

		&__name
			+subtitle_4()
			color: $dark
			text-transform: uppercase
			text-align: center
			border-bottom: 1px solid $light_grey
			padding-bottom: 10px

		&__info
			display: flex
			flex-flow: column nowrap
			width: 100%
			div
				display: flex
				justify-content: space-between
				align-items: center
				border-bottom: 1px solid $light_grey
				padding: 4px 0
				span
					&:first-child
						+subtitle_3()
						padding-left: 5px
						color: $dark_grey

					&:last-child
						+headline_4()
						padding-right: 20px
						color: $dark
	&__text
		+subtitle_2()
		color: $blue
		max-width: 548px
		margin-top: 67px

	+phone()
		padding-top: 34px
		padding-bottom: 26px

		&__container
			h2
				+headline_4()
				margin-bottom: 24px
	
		&__container
			align-items: center
			
		&__blocks
			max-width: 320px

		&__block
			max-width: 130px
			margin-bottom: 30px
			&:first-child
				margin-bottom: 30px

			&__image
				max-width: 100%

			&__info

				div
					flex-flow: column nowrap
					align-items: flex-start
					padding: 0
					span
			
						&:first-child
							font-family: 'ubuntu-light'
							font-size: 7px
							line-height: 15px
							padding-left: 0
							margin-bottom: 0

						&:last-child
							+subtitle_4()

		&__text
			margin-top: 10px
			+subtitle_1()