.recommendation
	+wrapper()
	padding-top: 39px
	padding-bottom: 73px
	background: $dark_blue
	&__container
		+container()

	h2
		+headline_2()
		color: $white
		text-transform: uppercase
		margin-bottom: 60px

	&__wrapper
		display: flex
		flex-flow: column nowrap

	&__block
		display: flex
		flex-flow: row nowrap
		justify-content: space-between
		width: 100%
		margin-bottom: 55px

		&__content
			max-width: 500px
			width: 100%
			display: flex
			flex-flow: column nowrap

		&__image
			max-width: 500px
			width: 100%


		&__text
			+subtitle_1()
			color: $white
			margin-bottom: 10px

		&__list
			+list()
			color: $white

		&__image
			span
				+subtitle_3()
				color: $grr

		&:nth-child(1)

			.recommendation__block__text:last-child
				margin-top: 10px
				margin-bottom: 0

			.recommendation__block__image
				img
					margin: 0


	+phone()
		padding-top: 0
		overflow: hidden
		padding-bottom: 30px
		h2
			display: none

		&__block
			flex-flow: column nowrap
			margin-bottom: 0
			&__image
				display: flex
				flex-flow: column nowrap
				margin-bottom: 15px
				max-width: 9999px
				img
					width: calc(100% + 40px)
					margin-left: -20px
					position: relative
					object-fit: cover
				span
					margin-top: 10px

			&:nth-child(1)
				margin-bottom: 30px
				.recommendation__block__content
					order: 1
				.recommendation__block__image
					order: 0
					margin-top: -5px
					img
						margin-left: -20px


