.advantages
	+wrapper()
	padding-bottom: 80px	
	&__container
		+container()

	h2
		+headline_2()
		color: $black
		text-transform: uppercase
		margin-bottom: 60px

	&__blocks
		display: flex
		flex-flow: row wrap
		div
			width: 100%
			max-width: 275px
			display: flex
			flex-flow: column nowrap
			padding-top: 36px
			padding-left: 20px
			padding-bottom: 29px
			padding-right: 20px
			border: 1px solid $light_grey
			span
				+subtitle_4()
				color: $light_grey
				margin-bottom: 18px
				transition: color $as

			p
				+subtitle_1()
				color: $black

			&:hover
				span
					color: $blue
					transition: color $as


	+phone()
		padding-bottom: 30px

		&__container
			+mobContainer()

		h2
			+headline_1_mobile()
			color: $black
			margin-bottom: 30px

		&__blocks
			justify-content: center
			div
				max-width: calc(536px / 2)