.price
	+wrapper()
	padding-top: 50px
	padding-bottom: 78px
	background: $light_grey_2

	&__container
		+container()

	h2
		+headline_2()
		color: $black
		text-transform: uppercase
		margin-bottom: 60px

	&__content
		display: flex
		flex-flow: row nowrap
		justify-content: space-between
		margin-bottom: 30px

	&__list
		display: flex
		flex-flow: column nowrap
		width: 100%
		max-width: 500px
		h3
			+headline_3()
			color: $black
			margin-bottom: 20px
		div
			display: flex
			flex-flow: row nowrap
			width: 100%
			align-items: flex-end
			margin-bottom: 10px

			&:last-child
				margin-bottom: 0

			span
				+headline_2()
				color: $dark_blue
				margin-right: 77px

			p
				+subtitle_1()
				color: $dark
				max-width: 400px
				padding-bottom: 5px

	&__image
		max-width: 500px
		span
			+subtitle_3()
			color: $grr
			margin-top: 8px

	&__link	
		+subtitle_2()
		color: $dark
		a
			color: $blue
			&:hover
				text-decoration: underline

	+phone()
		background: none
		padding-top: 0

		h2
			+headline_1_mobile()
			margin-bottom: 30px

		&__container
			+mobContainer()

		&__content
			flex-flow: column-reverse nowrap

		&__image
			margin-bottom: 30px
			img
				width: calc(100% + 40px)
				margin-left: -20px
				max-width: 576px
				object-fit: cover

		&__list
			h3
				+headline_1_mobile()
				margin-bottom: 20px

			div
				align-items: flex-start
				span
					margin-right: 18px
					+headline_1_mobile()
				p
					+subtitle_1()

		&__link
			+subtitle_1()