.reliability
	+wrapper()
	padding-top: 80px
	padding-bottom: 117px

	&__container
		+container()

	h2
		+headline_2()
		color: $black
		text-transform: uppercase
		margin-bottom: 60px

	&__content
		width: 100%
		display: flex
		flex-flow: row nowrap
		justify-content: space-between

	&__info
		max-width: 500px
		display: flex
		flex-flow: column nowrap
		p
			&:first-child
				+subtitle_1()
				color: $black
				margin-bottom: 12px
			&:last-child
				+subtitle_2()
				color: $dark
				margin-top: 12px

		span
			+list()

	&__image
		max-width: 500px
		span
			+subtitle_3()
			color: $grr
			margin-top: 8px


	+phone()
		padding-top: 30px
		padding-bottom: 30px

		&__container
			+mobContainer()

		h2
			+headline_1_mobile()
			margin-bottom: 30px

		&__content
			flex-flow: column-reverse nowrap

		&__image
			margin-bottom: 42px
			width: 100%
			img
				width: calc(100% + 40px)
				margin-left: -20px
				max-width: 576px
				object-fit: cover

		&__info
			p
				&:first-child
					margin-bottom: 23px
				&:last-child
					+headline_1_mobile()
					margin-top: 23px