.second
	+wrapper()
	padding-top: 86px
	&__container
		+container()
		flex-flow: row wrap
		div
			width: 100%
			max-width: 365px
			padding-top: 28px
			padding-left: 31px
			padding-bottom: 32px
			display: flex
			flex-flow: column nowrap
			transition: all $as
			border: 1px solid #E0E0E0
			p
				+subtitle_2()
				color: $black
				span
					color: $blue

			svg
				fill: $dark


	+phone()
		padding-top: 30px
		&__container
			+mobContainer()
			flex-flow: column nowrap
			div
				padding: 20px

