.who
	+wrapper()
	padding-top: 80px
	padding-bottom: 86px

	&__container
		+container()

	h2
		+headline_2()
		color: $black
		margin-bottom: 53px
		text-transform: uppercase

	&__block
		width: 100%
		display: flex
		flex-flow: row nowrap
		justify-content: space-between
		margin-bottom: 60px

		&__text
			+subtitle_1()
			color: $dark
			max-width: 500px

		&__image
			max-width: 502px
			span
				+subtitle_3()
				color: $grr
				margin-top: 8px

		&__content
			display: flex
			flex-flow: column nowrap
			width: 100%
			max-width: 500px
			div
				+subtitle_2()
				color: $dark
				margin-bottom: 11px
			span
				+list()

		&.second
			margin-bottom: 15px


	&__text
		+subtitle_1()
		color: $dark
		max-width: 500px


	+phone()
		padding-top: 0
		padding-bottom: 30px
		&__container
			+mobContainer()

		h2
			+headline_1_mobile()
			margin-bottom: 23px

		&__block
			flex-flow: column nowrap
			margin-bottom: 27px

			&__text
				margin-bottom: 30px

			&__image
				order: 1
				img
					width: calc(100% + 40px)
					margin-left: -20px
					max-width: 576px

			&__content
				order: 0
				span:last-child
					margin-bottom: 34px