
input[type="range"]
  -webkit-appearance: none
  -moz-apperance: none
  border-radius: 6px
  height: 2px
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.15, $blue), color-stop(0.15, #C5C5C5))

input[type='range']::-webkit-slider-thumb
  -webkit-appearance: none !important
  background-color: $blue
  border: 1px solid $blue
  border-radius: 50%
  height: 15px
  width: 15px

.active_button
  background-color: $light_blue !important
  color: $white

.container_grey
  background: $light_grey_2
  padding-bottom: 50px
  +bg()
    padding-bottom: 30px

.calculator
  &-block__wrapper
    +flex_row_between()
  &-block__text_grey
    color: $grr
  &-block__text_bold
    +font_500_18()
    margin-right: 5px!important
  &-block__range
    width: 100%

  &__container
    +container_width()
    +flex_row_between()
    +laptop()
      +flex_column_between()
    +tablet()
      +flex_column_between()
    +mobile__l()
      +flex_column_between()

  &__column
    width: 300px
    +bg()
      width: 30%
    +laptop()
      width: 100%
    +tablet()
      width: 100%
    +mobile__l()
      width: 100%

  &-block__title
    padding: 0
    margin: 50px 0 20px 0
    color: $grr
    text-transform: uppercase
    +font_bold_23()

    +laptop()
      margin: 20px 0 10px 0
    +tablet()
      +font_500_15()

  &-block__text
    +TextBox_Content()
    &__container
      display: flex
      font-weight: bold
      font-size: 18px

  &-block__content
    width: 100%
    margin: 28px 0
    +laptop()
      margin: 0 0 15px 0


  &-block__buttons
    margin: 10px 0
    +flex_row_between()
    button
      font-family: Open Sans
      font-style: normal
      font-weight: bold
      font-size: 12px
      line-height: 16px
      height: 40px
      width: 32%
      border: none
      border-radius: 5px
      border-bottom: 2px
      background-color: #D8DBE8
      &:active,
      &:hover,
      &:focus
        background-color: $light_blue
        color: $white

  &-block__input
    +flex_row_between()
    align-items: center
    +font_500_18()
    +mobile__l()
      +font_500_15()
    input
      padding-right: 10px
      text-align: end
      height: 40px
      width: 90px
      border: $light_grey solid 1px
      border-radius: 5px
      margin: 0 10px

  &__result__big__number
    font-weight: bold
    font-size: 40px
    line-height: 125%

.fuel__measure
  width: 85px

.calculator__column__center
  +laptop()
    margin: 30px 0

.floating
  &_block
    width: 100%
    background-color: #1254b5
  &_content
    //display: none
    padding: 15px 0
    color: white
    +container_width()

.fixed
  position: fixed
  bottom: 0





