.additional__benefits

  &__container
    +container_width()
    padding-bottom: 30px
    +mobile__l()
      padding: 0

  &__title
    +subtitle()
    +mobile__l()
      +container()
      margin-bottom: 20px

  &__subtitle
    font-family: Ubuntu
    font-style: normal
    font-weight: 500
    font-size: 18px
    line-height: 23px
    margin-bottom: 30px
    &:last-child
      margin-top: 30px
    +tablet__l()
      font-weight: 500
      font-size: 15px
      line-height: 20px
      margin-bottom: 20px
      margin-top: 20px
    +mobile__l()
      +container()

  &__row
    +flex_row_start()
    flex-wrap: wrap

  &__block
    height: 240px
    width: 33%
    border: $light_grey solid 1px
    padding: 30px
    display: flex
    flex-direction: column
    justify-content: flex-start
    &:hover
      background-color: $blue
      color: $white
    +tablet__l()
      +flex_row_start()
      flex-direction: column
      width: 100%
      height: 100%
    +mobile__l()
      border-top: $light_grey solid 1px
      border-bottom: $light_grey solid 1px
      border-right: none
      border-left: none

    &-elem1
      font-family: Ubuntu
      font-style: normal
      font-weight: bold
      font-size: 23px
      line-height: 27px
      margin-bottom: 15px
      text-transform: uppercase
    &-elem2
      font-family: Ubuntu
      font-style: normal
      font-weight: 300
      font-size: 15px
      line-height: 20px