.contractor
  width: 100%
  background-color: #F8F8F8

  &__container
    margin: 0 auto
    width: 1100px
    padding-bottom: 80px
    +laptop()
      width: 85%
    +tablet()
      padding-bottom: 0
      width: 100%

  &__title
    h2
      +font_bold_40()
      text-transform: uppercase
      padding: 80px 0 60px 0

      +tablet()
        +font_500_15()
        +container_width()
        padding: 50px 0 20px 0

  &__blocks
    +flex_row_between()

  &__column
    +flex_column_between()

  &__block
    +flex_row_start()
    align-items: center
    margin-bottom: 10px
    width: 500px
    &:last-child
      margin-bottom: 0

    +tablet()
      +container_width()
      align-items: baseline
      margin-bottom: 20px
      &:last-child
        margin-bottom: 20px

  &__number
    +ubuntu()
    font-weight: 700
    font-size: 40px
    line-height: 125%
    width: 100px
    +mobile__l()
      padding: 0 16px 0 0
      width: 20px
      font-weight: 500
      font-size: 15px
      line-height: 20px

  &__text
    +TextBox_Content()
    width: 215px
    +laptop()
      width: 100%
    +tablet()
      +font_500_15()

  &__column__image
    img
      width: 600px

  +laptop()
    &__blocks
      +flex_column_start()

    &__block
      +flex_row_start()
      width: 100%

    &__column__image
      margin: 30px 0
      .image-none
        display: none

  +tablet()
    &__column__image
      img
        width: 100%
        height: 80%

  +mobile__l()
    &__block
      margin-bottom: 20px

    &__title
      +container_width()

    &__text__inf
      padding-bottom: 20px!important

    &__column__image
      margin: 0 0 -5px 0


