.dop__equipment

  &__container
    +container_width()

  &__title
    +subtitle()

  &__row
    +flex_row_between()
    flex-flow: row nowrap
    overflow-x: auto


  &__column
    +flex_column_between()
    padding: 20px
    width: 300px
    +mobile__l()
      width: 280px
    &:hover
      background-color: #F8F8F8
    img
      width: 200px
      height: 250px
      margin: 0 30px
    &__title
      text-align: center
      text-transform: uppercase
      border-bottom: 1px solid #D8DBE8
      font-family: Open Sans
      font-style: normal
      font-weight: bold
      font-size: 12px
      line-height: 16px
      p
        margin-bottom: 8px
    &__list
      &-elem
        display: flex
        flex-direction: row
        border-bottom: 1px solid #D8DBE8
        justify-content: space-between
        align-items: baseline
        margin-bottom: 7px
      &-elem1
        font-family: Ubuntu
        font-style: normal
        font-weight: 300
        font-size: 12px
        line-height: 15px
        margin-bottom: 12px
        color: #4F4F4F
      &-elem2
        width: 122px
        font-family: Ubuntu
        font-style: normal
        font-weight: 300
        font-size: 15px
        line-height: 20px
        margin-bottom: 12px
        text-align: right
        color: #242B30
      &-elem3
        font-family: Ubuntu
        font-style: normal
        font-weight: 500
        font-size: 18px
        line-height: 23px
        text-align: right

    &__title
      margin-bottom: 10px
    button
      display: none // скрыла кнопку
      width: 240px
      height: 30px
      color: $blue
      font-style: normal
      font-weight: 300
      font-size: 12px
      line-height: 15px
      border: $blue solid 1px
      border-radius: 8px
      margin: 0 30px 30px 30px
      &:hover
        background-color: $blue
        color: $white
