.main
  width: 100%
  background-color: #4f4f4f
  background-size: cover

  &__container
    padding: 131px 0
    position: relative
    color: white
    +container_width()

    +mobile__l()
      padding-top: 171px
      padding-bottom: 30px

  &__title
    +main_title()
    width: 45%
    margin-bottom: 87px

    +tablet__s()
      margin-bottom: 36px
      width: 100%


  &__description
    +font_500_18()
    display: flex
    flex-direction: row
    &:before
      content: ''
      display: block
      width: 44px
      height: 1px
      background: #fff
      position: absolute
      top: 454px
      left: -49px

    +laptop__s()
      margin-left: 50px
      &:before
        left: 0
    +laptop()
      &:before
        left: 37px
        width: 33px
    +tablet__l()
      flex-direction: column
      &:before
        top: 380px

    +tablet__s()
      +font_500_15()
      margin-left: 40px
      &:before
        left: 22px
        top: 257px

    +mobile__l()
      margin-left: 30px
      &:before
        width: 20px
        left: 22px
        top: 297px

    &-elem
      margin-right: 151px
      width: 250px
      &:last-child
        margin-right: 0

      +tablet__l()
        margin-bottom: 20px
      +tablet__s()
        width: 90%

  &__text
    margin: 24px 0 21px 0

.breadcrumbs
  +tablet__l()
    display: none