*
	margin: 0
	padding: 0
	box-sizing: border-box
	outline: none
	-webkit-tap-highlight-color: transparent
	-webkit-focus-ring-color: transparent

button, input[type="button"]
	border: none
	background: none
	padding: 0
	display: flex
	justify-content: center
	align-items: center
	cursor: pointer
	-webkit-appearance: none
	-moz-appearance:    none

a
	text-decoration: none

input
	border: none
	background: none

b.rub
	font-family: 'Roboto'

.hidden
	display: none!important

body.disable
	overflow: hidden!important

body
	margin: 0
	font-family: Ubuntu