.swiper
  +container_width()
  +font_300_15()

  &__content
    padding-bottom: 50px
    &__grey
      background-color: $light_grey_2
      padding-top: 50px

  &-button-prev,
  &-button-next
    color: #9FB2B1
    float: left
    position: relative

  &-button-next
    right: -30px
    +tablet()
      right: 5px
  &-button-prev
    left: -30px
    +tablet()
      left: 5px

  &-button-container
    display: flex
    flex-direction: row
    justify-content: space-between
    top: 140px
    position: relative

  &-wrapper
    align-items: baseline

  &-slide
    text-align: center
    align-items: center

    &__color_image
      width: 200px
      height: 100%
      object-fit: cover

  &__content__title
    +subtitle()
    +container_width()

.swiper_2
  +container_width()
  +font_300_15()

  &__content
    padding-bottom: 50px
    &__grey
      background-color: $light_grey_2
      padding-top: 50px

  &-button-prev,
  &-button-next
    color: #9FB2B1
    float: left
    position: relative

  &-button-next
    right: -30px
    +tablet()
      right: 5px
  &-button-prev
    left: -30px
    +tablet()
      left: 5px

  &-button-container
    display: flex
    flex-direction: row
    justify-content: space-between
    top: 140px
    position: relative

  &-wrapper
    align-items: baseline

  &-slide
    text-align: center
    align-items: center

    &__color_image
      width: 200px
      height: 100%
      object-fit: cover

  &__content__title
    +subtitle()
    +container_width()

