.mobile-tab
	padding: 20px
	padding-left: 20px
	padding-bottom: 15px
	background: $light_grey
	+subtitle_2()
	text-transform: uppercase
	position: sticky 
	top: 0
	z-index: 99
	display: none	
	span
		color: $blue
	+phone()
		display: block