.progress-bar
	position: fixed
	left: 20px
	top: 148px
	display: flex
	align-items: stretch
	visibility: hidden
	opacity: 0
	transition: all $as
	&.active
		visibility: visible
		opacity: 1
		transition: all $as
	&__line
		background: $grr
		width: 2px
		position: relative
		margin-right: 20px
		span
			position: absolute
			background: $blue
			width: 2px
			top: 0
			transition: top $as

		&.active
			span
				transition: top $as


	&__list
		display: flex
		flex-flow: column nowrap
		justify-content: space-between
		a
			+subtitle_3()
			color: $grr	
			margin-bottom: 35px
			margin-top: 35px

			&.active
				color: $blue

	
@media screen and (max-width: 1300px)
	.progress-bar
		display: none
