.chief
  width: 100%
  background-size: cover

  &__container
    padding: 131px 0 89px 0
    position: relative
    color: white
    +container_width()

    +mobile__l()
      padding-top: 50px
      padding-bottom: 50px

  &__title
    +main_title()

    margin-bottom: 89px
    +tablet()
      margin-bottom: 41px

  &__descriptions
    +font_500_18()
    +flex_row_between()
    color: $white


    +laptop()
      flex-wrap: wrap
      +flex_row_start()

    +tablet()
      +flex_column_start()

    &__informations
      margin: 0 35px 0 0
      width: 170px

      +tablet()
        margin: 0 0 22px 0
        width: 100%

      &_big
        width: 180px
        margin-right: 35px

        +tablet()
          margin-right: 0
          width: 100%

