.contractor
  width: 100%

  &__container
    margin: 0 auto
    width: 1100px
    padding-bottom: 50px
    +laptop()
      width: 85%
    +mobile__l()
      padding-bottom: 0
      width: 100%

  &__title
    h2
      +font_bold_40()
      margin: 80px 0 60px 0

      +tablet()
        +font_500_18()
        margin: 60px 0 20px 0

  &__blocks
    +flex_row_between()

  &__column
    +flex_column_between()

  &__block
    +flex_row_between()
    margin-bottom: 20px
    width: 500px
    &:last-child
      margin-bottom: 0

    +tablet()
      margin-bottom: 20px

  &__number
    +ubuntu()
    font-weight: 700
    font-size: 40px
    line-height: 125%
    width: 100px
    color: $blue
    +mobile__l()
      padding: 0 16px 0 0
      width: 20px
      font-weight: 500
      font-size: 15px
      line-height: 20px

  &__text
    width: 400px
    +laptop()
      width: 100%

  &__text__title
    margin: 0 0 10px 0
    +font_500_18()
    +tablet()
      +font_500_15()

  &__text__inf
    +TextBox_Content()

  &__column__image
    display: flex
    justify-content: flex-start
    flex-direction: column
    img
      margin-bottom: 67px

  +laptop()
    &__blocks
      +flex_column_start()

    &__block
      +flex_row_start()
      width: 100%

    &__column__image
      margin: 30px 0
      .image-none
        display: none

  +tablet()
    &__column__image
      img
        width: 100%
        height: 80%

    &__title
      h2
        margin: 60px 0 20px 0

  +mobile__l()
    &__block
      +container_width()

    &__title
      +container_width()

    &__text__inf
      padding-bottom: 20px!important

    &__column__image
      margin: 0 0 30px 0


