.differences

  &__container
    +container_width()
    +flex_column_between()
    //background-color: #1254b5

    +tablet()
      padding-bottom: 0

    +mobile__l()
      padding: 0
      width: 100%

  &__container_margin
    margin-bottom: 80px
    +tablet()
      margin-bottom: 10px

  &__title
    +subtitle()
    text-transform: uppercase
    +laptop()
      +container_width()
      margin-top: 50px
      margin-bottom: 30px
      +font_500_18()

  &__row
    +flex_row_between()
    margin-bottom: 32px
    &:last-child
      margin-bottom: 0

    +laptop()
      +container_width()
      +flex_column_start()
      align-items: flex-start
      margin: 0

      img
        margin-bottom: 30px
        width: 45%
        +tablet()
          width: 100%

    +tablet()
      padding-left: 0
      padding-right: 0

    &_reverse

      +laptop()
        flex-direction: column-reverse
        +container_width()
        margin: 0

      img
        margin-bottom: 30px
        width: 45%
        +tablet()
          width: 100%

      +tablet()
        padding-left: 0
        padding-right: 0

  &__text
    width: 45%
    +flex_column_center()
    h3
      text-transform: uppercase
      +font_bold_23()
      margin: 5px 0

      +tablet()
        +font_500_15()
        text-transform: none
        font-weight: bold
    p
      +TextBox_Content()
      margin: 5px 0

    +laptop()
      width: 100%
      margin-bottom: 30px
    +mobile__l()
      +container_width()
      margin-bottom: 20px

    &_bottom
      margin-bottom: 30px !important

  &__text_margin
    width: 45%
    +flex_column_center()
    h3
      text-transform: uppercase
      +font_bold_23()
      margin: 5px 0

      +tablet()
        +font_500_15()
        font-weight: bold
    p
      +TextBox_Content()
      margin: 5px 0

    +laptop()
      width: 100%
      margin-bottom: 30px
    +mobile__l()
      +container_width()
      margin-bottom: 20px

    &_bottom
      margin-bottom: 30px !important

  &__title__blue
    color: $light_blue

  &__subtitle
    margin: 80px 0 30px 0
    +laptop()
        margin: 20px 0 35px 0
