.services
  width: 100%
  padding: 0
  background-color: #F8F8F8
  &__container
    +container_width()
    flex-wrap: wrap

  &__row
    +flex_row_start()
    flex-wrap: wrap
    padding-top: 103px
    padding-bottom: 34px


  &__block
    +flex_column_between()
    margin-bottom: 45px
    margin-right: 40px
    position: relative
    background-size: cover
    width: 320px
    height: 380px
    color: white
    &:before
      content: ''
      background: transparent
      width: 100%
      height: 100%
      position: absolute
      transition: background-color 0.3s linear
    &:hover
      &:before
        background: #1254B5 !important
    +tablet()
      height: auto

    +mobile__l()
      width: 100%
      margin: 5px 0

    &__text
      +font_500_15()
      position: relative
      z-index: 4
      margin: 0 20px 0 27px
      list-style-type: none
      display: flex
      flex-direction: row
      &:before
        content: '•'
        font-size: 14px
        color: white
        margin-right: 11px

  &__block_empty
    +flex_column_between()
    margin-bottom: 45px
    margin-right: 40px
    position: relative
    background-size: cover
    width: 320px
    height: 380px
    color: white

    +tablet()
      height: auto

    +mobile__l()
      width: 100%
      margin: 5px 0

    &__text
      +font_500_15()
      position: relative
      z-index: 4
      margin: 0 20px 0 27px
      list-style-type: none
      display: flex
      flex-direction: row
      &:before
        content: '•'
        font-size: 14px
        color: white
        margin-right: 11px

    &__button
      +Button_name()
      width: 100%
      height: 40px
      border: white solid 1px
      border-radius: 8px
      color: white
      +font_300_12()

    &__information
      +flex_column_start()
      position: relative
      z-index: 2
      padding: 10px 20px 20px 20px
      width: 100%
      &__numbers
        +flex_row_start()
        align-items: baseline
        margin-bottom: 60px




  &__button_options,
  &__button
    +Button_name()
    width: 100%
    height: 40px
    border: white solid 1px
    border-radius: 8px
    color: white
    display: none
    cursor: pointer
    transition: background-color 0.3s linear
    +font_300_12()
    &:hover
      background-color: $white
      color: $light_blue

    +laptop()
      display: block

  &__title
    +font_bold_23()
    text-transform: uppercase
    position: relative
    z-index: 2
    margin: 32px 20px 20px 20px
    +mobile__l()
      +container_width()
      padding: 34px 0 12px 0

  &__list
    +TextBox_Content()
    position: relative
    z-index: 2

  &__information
    +flex_column_start()
    position: relative
    z-index: 2
    padding: 10px 20px 30px 20px
    width: 100%
    &__numbers
      +flex_row_start()
      align-items: baseline
      margin-bottom: 55px
      +laptop()
        margin-bottom: 15px
    &__number
      +font_300_15()
      margin-right: 10px
    &__number_big
      +font_500_18()
      font-weight: bold

  +mobile__l()
    &__container
      width: 100%
      padding: 0

    &__row
      width: 100%
      padding: 50px 0 0 0
      margin: 0

    &__information
      padding: 10px 20px 20px 20px
      +flex_column_start()
      +font_500_18()

      &__button_options
        width: 45%

      &__button
        width: 100%

    &__list
      li
        margin: 10px 20px


